html {
    box-sizing: border-box;
    /* prevenire che aggiungere padding faccia superare il 100% della pagina */
}

body{
    margin: 0;
    min-height: 100vh;/* viewport height */
    /* background-color: dodgerblue; */
}